SS2.SCache/Connected Services/WCFService/SCacheService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SCacheService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60698/SCacheService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60698/SCacheService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60698/SCacheService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebServer_SetString_InputMessage">
    <wsdl:part name="parameters" element="tns:SetString" />
  </wsdl:message>
  <wsdl:message name="IWebServer_SetString_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStringResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServer_GetString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetString" />
  </wsdl:message>
  <wsdl:message name="IWebServer_GetString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServer_SetDataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDataTable" />
  </wsdl:message>
  <wsdl:message name="IWebServer_SetDataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServer_GetDataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTable" />
  </wsdl:message>
  <wsdl:message name="IWebServer_GetDataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServer_SetIncrement_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIncrement" />
  </wsdl:message>
  <wsdl:message name="IWebServer_SetIncrement_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIncrementResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServer_GetIncrement_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncrement" />
  </wsdl:message>
  <wsdl:message name="IWebServer_GetIncrement_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncrementResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebServer">
    <wsdl:operation name="SetString">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServer/SetString" message="tns:IWebServer_SetString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServer/SetStringResponse" message="tns:IWebServer_SetString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServer/GetString" message="tns:IWebServer_GetString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServer/GetStringResponse" message="tns:IWebServer_GetString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServer/SetDataTable" message="tns:IWebServer_SetDataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServer/SetDataTableResponse" message="tns:IWebServer_SetDataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServer/GetDataTable" message="tns:IWebServer_GetDataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServer/GetDataTableResponse" message="tns:IWebServer_GetDataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIncrement">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServer/SetIncrement" message="tns:IWebServer_SetIncrement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServer/SetIncrementResponse" message="tns:IWebServer_SetIncrement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncrement">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServer/GetIncrement" message="tns:IWebServer_GetIncrement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServer/GetIncrementResponse" message="tns:IWebServer_GetIncrement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebServer" type="tns:IWebServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetString">
      <soap:operation soapAction="http://tempuri.org/IWebServer/SetString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <soap:operation soapAction="http://tempuri.org/IWebServer/GetString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDataTable">
      <soap:operation soapAction="http://tempuri.org/IWebServer/SetDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <soap:operation soapAction="http://tempuri.org/IWebServer/GetDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIncrement">
      <soap:operation soapAction="http://tempuri.org/IWebServer/SetIncrement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncrement">
      <soap:operation soapAction="http://tempuri.org/IWebServer/GetIncrement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCacheService">
    <wsdl:port name="BasicHttpBinding_IWebServer" binding="tns:BasicHttpBinding_IWebServer">
      <soap:address location="http://localhost:60698/SCacheService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>